* {
  line-height: 1.3;
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
}

body {
  width: 50ch;
}

body > * + * {
  margin-block-start: 1em;
}

main > * + * {
  margin-block-start: 1em;
}

#feedback {
  height: 4em;
  overflow: scroll;
}

#questionContainer {
  padding: 1em;
  border: 1ch solid black;
  text-align: center;
  width: 100%;
}

#question {
  text-align: center;
}

button {
  font-family: monospace;
  /* The longest morse sequence is 19 characters */
  width: 21ch;
}

#buttonContainer {
  display: grid;
  /* A 2 by 2 grid */
  grid-template: 14ch 14ch / 21ch 21ch;
  gap: 1em 1em;
  justify-content: center;
}

.morse {
  font-family: monospace;
}
