* {
  line-height: 1.3;
}

body > * + * {
  margin-block-start: 1em;
}

#question {
  text-align: center;
}

button {
  font-family: monospace;
  /* The longest morse sequence is 19 characters */
  width: 21ch;
}

#buttonContainer {
  display: grid;
  /* A 2 by 2 grid */
  grid-template: 14ch 14ch / 21ch 21ch;
  gap: 1em 1em;
  justify-content: center;
}

.morse {
  font-family: monospace;
}
